.page {
  .homeIcon {
    width: 22px;
    height: 22px;
    background: url(../../asset/images/home.png) center  center / 22px 22px no-repeat;
  }
  .homeIconFill {
    width: 22px;
    height: 22px;
    background: url(../../asset/images/home-fill.png) center  center / 22px 22px no-repeat;
  }
  .plusIcon {
    width: 32px;
    height: 32px;
    background: url(../../asset/images/plus.png) center  center / 32px 32px no-repeat;
  }
  .mineIcon {
    width: 22px;
    height: 22px;
    background: url(../../asset/images/mine.png) center  center / 22px 22px no-repeat;
  }
  .mineIconFill {
    width: 22px;
    height: 22px;
    background: url(../../asset/images/mine-fill.png) center  center / 22px 22px no-repeat;
  }
}
