.container {

  .title {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    background-size: 100% 100%;
    background-image: url('http://ac-l3cae9l7.clouddn.com/531efb20f6531c168151.png');

    .text {
      font-size: 15px;
      font-weight: bold;
      color: #fff;
    }
  }

  .textView {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.4;
    color: #59534e;
  }
  .imageView {
    width: 100%;
    max-height: 15rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    .img {
      width: 100%;
    }
  }
}
