.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;

  .homeIcon {
    width: 22px;
    height: 22px;
    background: url(../../asset/images/home.png) center  center / 22px 22px no-repeat;
  }
  .homeIconFill {
    width: 22px;
    height: 22px;
    background: url(../../asset/images/home-vote-fill.png) center  center / 22px 22px no-repeat;
  }

  .voteIcon {
    width: 70px;
    height: 70px;
    background: url(../../asset/git/vote_active.gif) center / 70px 70px no-repeat;
  }

  .giftIcon {
    width: 22px;
    height: 22px;
    background: url(../../asset/images/prize.png) center  center / 22px 22px no-repeat;
  }

  .imageView {
    padding: 10px 12px;

    .img {
      width: 100%;
    }
  }

  .headView {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 12px 0 12px;

    .avatar {
      width: 30px;
      height: 30px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 5px;
    }
    .name {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .declaration {
    padding: 10px 12px;
    font-size: 16px;
  }

  .share {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .recvItem {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    height: 80px;

    .avatar {
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 5px;
    }

    .itemBody {
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 12px;
      .createdAt {
        color: grey;
        margin-top: 8px;
      }
    }
  }

  .loadmoreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
