.page {
  background-color: #fff;
  height: 100%;
  //overflow: scroll;
  //-webkit-overflow-scrolling: touch;

  .searchView {
    margin: 10px 12px 0 12px;
    border: 1px solid #e6e6ea;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .searchBtnView {
      background: #F6635F;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      width: 125px;
      height: 30px;

      .searchBtnText {
        font-size: 14px;
        color: #fff;
      }
    }

    .searchInput {
      font-size: 14px;
      padding: 0 10px;
      margin: 0;
      height: 100%;
      width: 100%;
      border: none;
    }
  }

  .foot {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 20px;
    .logoView {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5px;
      .img {
        width: 32px;
        height: 32px;
        margin-right: 10px;
      }
      .xiaojee {
        font-size: 14px;
        color: darkgray;
        font-weight: bold;
      }
    }

    .trip {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      color: darkgray;
    }
  }
}
