.container {
  background: #fff;

  .awardItem {
    overflow: hidden;
    width: 100%;
    .delBtn {
      text-align: right;
      padding-top: 10px;
      padding-right: 12px;
    }
  }

  .addView {
    margin: 15px 0;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F2F2F2;
    .img {
      width: 50px;
      height: 50px;
    }
    .text {
      font-size: 12px;
      color: #CD853F;
      margin-top: 10px;
    }
  }
}
